@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --Montserrat: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Montserrat);
}

.quadrantes{
    padding: .5em;
}

.linha{
    display: flex;
}

.quadrante{
    width: 25em;
    height: 15em;
    padding: 1em;
    margin: .5em;
    background-color: lightgrey;
    border-radius: 20px;
}

.tituloQuadrante{
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border: 2px darkgray solid;
    font-size: .85rem;
    padding: .25em;
    border-radius: 1000px;
    margin-bottom: 1em;
}

.botaoQuadrante{
    font-weight: 500;
    border-radius: 1000px;
    border: none;
    padding: .25em;
}

.listaQuadrante{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: start;
}

.questionario{
    background-color: lightgray;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionario div{
    display: flex;
    gap: 2em;
}

#quadranteSelect, #item{
    padding: .1em 1em;
    border-radius: 1000px;
    border: 2px black solid;
    width: 20em;
}

#quadranteSelect li{
    height: 1rem;
}

#botaoQuestionario{
    padding: .1em 3em;
    background-color: rgb(240, 240, 240);
    border-radius: 1000px;
    border: none;
}

.item{
    display: flex;
    justify-content: space-between;
}

.item img{
    height: 1rem;
}